* {
    padding: 0px;
    margin: 0px;
}

a {
    color : white;
    text-decoration: none;
}

body {
    background-color: black;
}

table {
    color: white;
    font-family: jetbrains mono;
    font-size: 20px;
    font-weight: 350;
    margin-top: 5px;
    margin-left: 30px;
}

.social_media {
    width : 55px;
    height : 55px;
    margin-top: 60px;
}

.products {
    width: 200px;
    height: 200px;
    margin-left: 130px;
    margin-top : 40px;
}

.product_name {
    text-align: center;
    margin-top: 30px;
    padding-left: 100px;
}

.navigation {
    color: white;
    font-family: jetbrains mono;
    font-size: 20px;
    font-weight: 350;
    margin-top: 30px;
    padding-right: 20px;
    text-decoration: none;
}

.footer {
    font-size : 15px;
}

a:hover {
    text-decoration : underline;
    text-decoration-style : wavy;
}

#haha:hover {
    background-color: white;
}   

#paperbag {
    width: 50px;
    height: 50px;
    margin-left : 1px;
}

#sign_up {
    margin-left: 850px;
}

#coupons {
    margin-left: 60px;
}

#shop {
    margin-left: 15px;
}

#logo {
    width: 140px;
    height: 140px;
    margin-left: -34px;
}

#cart {
    margin-left: 15px;
    padding-right: 1px;
}

#fries {
    transform: rotate(45deg);
}

#burger {
    transform: rotate(13deg);
}

#twitter {
    margin-left: 650px;
}

#copyright {
    margin-left: 280px;
    margin-top: 5px;
}